@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 188, 211);
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 100px;
  border-radius: 10px;
  border: 5px solid #429cac;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  grid-template-rows: 1fr 2fr;
  width: inherit;
  height: 100px;
  background-color: #429cac;
  margin-bottom: 1px;
}

#display p {
  opacity: 0.8;
  margin: 35px 0 0 0;
  padding: 0 10px 5px 0;
  width: 100%;
  height: 30px;
  text-align: right;
  letter-spacing: 1px;
  font-size: 14px ;
  font-family: 'Montserrat', sans-serif;
}

#display h3 {
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 70px;
  text-align: right;
  font-size: 26px;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0;
}

#calc-body {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  grid-template-areas: 
  'clear  clear       clear backspace'
  'factorial    mod   plusminus       divide'
  'seven  eight       nine      multiply'
  'four   five        six       add'
  'one    two         three     subtract'
  'zero   zero        dot       equal';
  width: inherit;
  height: 500px;
  gap: 1px;
}

.calc-buttons {
  font-size: 30px;
  background-color: #429cac;
  border: transparent;
  outline: none;
  color: rgb(46, 45, 45);
}

.button-clear {
  grid-column: span 2;
}

.button-0 {
  grid-column: span 2;
}

  .button-0 {
    grid-area: zero;
  }
  .button-1 {
    grid-area: one;
  }
  .button-2 {
    grid-area: two;
  }
  .button-3 {
    grid-area: three;
  }
  .button-4 {
    grid-area: four;
  }
  .button-5 {
    grid-area: five;
  }
  .button-6 {
    grid-area: six;
  }
  .button-7 {
    grid-area: seven;
  }
  .button-8 {
    grid-area: eight;
  }
  .button-9 {
    grid-area: nine;
  }
  .button-dot {
    grid-area: dot;
  }
  .button-clear {
    grid-area: clear;
    color: rgb(64, 67, 70);
    text-shadow: none;
  }
  .button-backspace {
    grid-area: backspace;
    color: rgb(64, 67, 70);
    text-shadow: none

  }
  .button-divide {
    grid-area: divide;
  }
  .button-multiply {
    grid-area: multiply;
  }
  .button-add {
    grid-area: add;
  }
  .button-subtract {
    grid-area: subtract;
  }

  .button-subtract, .button-add, .button-divide, .button-multiply, .button-equal {
    color:rgb(197, 218, 241);
    text-shadow: none;
  }
  .button-equal {
    grid-area: equal;
  }
  .button-plusminus {
    grid-area: plusminus;
  }
  .button-mod {
    grid-area: mod;
  }
  .button-factorial {
    grid-area: factorial;
  }
  
.onUse {
  background-color: white;
}

.button-transition:active {
  box-shadow: inset -2px 1px 3px black;
}
.playing {
  transition: all 0.05s step-start;
  background-color: rgb(255, 255, 255);
}

footer {
  margin-top: 30px;
}
footer a {
  text-decoration: none;
  color: rgb(82, 49, 27);
  font-size: 16px;
  font-family: 'Alata', sans-serif;
}
span {
  font-family: 'Quicksand', sans-serif;
}